
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


body{
    transition: 0.3s;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 222, 222);
    font-family: 'Rubik',sans-serif,
    sans-serif;
    line-height: 1.3;
}
h1{
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px 0;
}
h2{
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 10px 0;
    letter-spacing: .5px;
}
p{
    margin: 0;
    font-size: 20px;
}
.welcome{
    font-size: 25px;
    font-weight: 600;
}
.myname{

}
a{
    text-decoration: none;
    color: rgb(247, 78, 59);
    font-size: 18px;
}
.dark a{
    color: rgb(173, 199, 60);
}
header{
    display: flex;
    justify-content:flex-end ;
    padding: 30px;
}
.switch{
    background-color: rgb(46, 41, 41);
    width: 80px;
    height: 30px;
    border-radius: 200px;
    position: relative;
    
    
}
    .flicker{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    transition: 0.3s;
    box-shadow:
    inset 4px 4px 4px  rgb(255, 255, 255),
   inset -4px -4px -4px rgb(195, 193, 198 / 90%);
   
   
} 
/* .moon{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    left: 45px;
} */
.dark{
    background-color: rgb(57, 57, 57);
    transition: .3s;
   
    


}
.dark .name{
    display: none;
}
.dark .flicker{
    transform: translateX(50px);
}
.main{
    height: 80vh;
}
.main-text{
    width: 50%;
    padding: 30px;
}
.dark > *{
    color: white;
}
 .cv{
    color: #e93d3d;
}
.square{
    width: 98%;
    height: 200px;
    background-color: white;
    text-align: center;
    margin: 1%;
}
.dark .square{
    color: rgb(255, 255, 255);
    background-color: rgb(104, 103, 103);

}
.sub-section{
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (min-width:970px){
    .square{
        width: 48%;
        margin: 1%;
        height: 300px;
    }
   
}
@media only screen and (max-width:1200px){
     .footer {
         padding: 10px;
     }

     .name {
         font-size: 80px;
     }
}
footer{
    margin: auto;
    text-align: center;
    padding: 30px 0 30px 0;
    background-color: rgb(143, 145, 146);
}
img{
    width: 92%;
    height: 450px;
}

/*---------------------------------------*/


span {
    position: absolute;
    left: 75%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: block;
    color: #e93d3d;
    font-size: 124px;
    letter-spacing: 8px;
    cursor: pointer;
}

span::before {
    content: "Mostafa ahmed";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(45deg,
            transparent 0,
            transparent 2px,
            rgb(71, 71, 71) 2px,
            rgb(71, 71, 71) 4px);
    -webkit-background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 1s;
}

span::after {
    content: "Mostafa ahmed";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(135deg,
            transparent 0,
            transparent 2px,
            rgb(71, 71, 71) 2px,
            rgb(71, 71, 71) 4px);
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    transition: 1s;
}

span:hover:before {
    top: 10px;
    left: 10px;
}

span:hover:after {
    top: -10px;
    left: -10px;
}
/*-------------------------------------*/

.hidden{
    opacity: 0;
}
.hidden:hover{
    opacity: 1;
    background-color:rgba(63, 62, 62, 0.904) ;
    border-radius: 20px;
    color: aliceblue;
}
.s1:hover {
    opacity: .9;
}
.s2:hover {
    opacity: .9;
}
.s3:hover {
    opacity: .9;
}
.s4:hover {
    opacity: .9;
}
.s5:hover {
    opacity: .9;
}
.s6:hover {
    opacity: .9;
}
.s9:hover {
    opacity: .9;
}
.s8:hover {
    opacity: .9;
}
.s9:hover {
    opacity: .9;
}
.s10:hover {
    opacity: .9;
}

.s1{
    background-image: url("./images/memory game.JPG");
    background-size: cover;
    visibility: visible;
    
}
.s2 {
    background-image: url("./images/oldCars.JPG");
    background-size: cover;
}
.s3 {
    background-image: url("./images/newsGrid.JPG");
    background-size: cover;
}
.s4 {
    background-image: url("./images/myTunes.JPG");
    background-size: cover;
}
.s5 {
    background-image: url("./images/hotel.PNG");
    background-size: cover;
}
.s6 {
    background-image: url("./images/event.PNG");
    background-size: cover;
}
.s7 {
    background-image: url("./images/flippy.PNG");
    background-size: cover;
}
.s8 {
    background-image: url("./images/candycrash.PNG");
    background-size: cover;
}
.s9 {
    background-image: url("./images/hotelhbt.PNG");
    background-size: cover;
}
.s10 {
    background-image: url("./images/edge.PNG");
    background-size: cover;
}
