
@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');


body{
    transition: 0.3s;
    margin: 0;
    padding: 0;
    background-color: rgb(233, 231, 231);
    font-family: 'Glory', sans-serif;
}
h1{
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px 0;
}
h2{
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 10px 0;
    letter-spacing: .5px;
}
p{
    margin: 0;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: rgb(247, 78, 59);
    font-size: 18px;
}
.dark a{
    color: rgb(173, 199, 60);
}
header{
    display: flex;
    justify-content:flex-end ;
    padding: 30px;
}
.switch{
    background-color: rgb(46, 41, 41);
    width: 80px;
    height: 30px;
    border-radius: 200px;
    position: relative;
    
    
}
    .flicker{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    transition: 0.3s;
    box-shadow:
    inset 4px 4px 4px  rgb(255, 255, 255),
   inset -4px -4px -4px rgb(195, 193, 198 / 90%);
   
   
} 
/* .moon{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    left: 45px;
} */
.dark{
    background-color: rgb(57, 57, 57);
    transition: .3s;
   
    


}
.dark .flicker{
    transform: translateX(50px);
}
.main{
    height: 80vh;
}
.main-text{
    width: 50%;
    padding: 30px;
}
.dark > *{
    color: white;
}
.square{
    width: 98%;
    height: 350px;
    background-color: white;
    text-align: center;
    margin: 1%;
}
.dark .square{
    color: rgb(255, 255, 255);
    background-color: rgb(104, 103, 103);

}
.sub-section{
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (min-width:970px){
    .square{
        width: 48%;
        margin: 1%;
        height: 600px;
    }
}
footer{
    margin: auto;
    text-align: center;
    padding: 30px 0 30px 0;
    background-color: rgb(143, 145, 146);
}
img{
    width: 92%;
    height: 450px;
}
